body {
color: white;
background-color: black;
font-family: "Roboto Condensed", sans-serif;
}
section {
background: rgb(89, 206, 113);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}
.chamada-texto{
margin-right: 5%;
}
img{
height: 200px;
}
.categoria-videos{
display: flex;
overflow-x: auto;
gap
:10pxgap
:10px
;

}